{{- if .Values.profiles.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-profiles
data:
  profiles.xml: |
    <clickhouse>
      <profiles>
      {{- range .Values.profiles.items }}
        <{{ .name }}>
        {{- range $key, $value := .settings }}
          <{{ $key }}>{{ $value }}</{{ $key }}>
        {{- end }}
        </{{ .name }}>
      {{- end }}
      </profiles>
    </clickhouse>
{{- end }}
